@text-color: #000;
@white-color: #fff;
@gray-color: #D9D9D9;

// html
html{
	font-size: 10px;
}

// Body
body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: @text-color;
	margin: 0;

	padding-top: 44px;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
a{
	text-decoration: none;
}
// Container
.container{
	max-width: 1200px;
	margin: 0 auto;
}

// Header

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 40px;
}

.main{
	background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.input{
	font-size: 16px;
	line-height: 24px;

	background: @white-color;
	border: 1px solid @gray-color;
	border-radius: 2px;
	padding: 8px 12px 8px 34px;

	background-position: left  10px center;
	background-repeat:  no-repeat;

	&-adress{
		margin: 0 10px;
		background-image: url(../img/home.svg);

		flex: .8;
	}

	&-search{
		background-image: url(../img/search.svg);
		width: 306px;
		margin-left: auto;
	}
}

.buttons{
	display: flex;
	align-items: center;
}

.button{
	border-radius: 2px;

	box-sizing: border-box;
	padding: 8px 16px;

	font-size: 16px;
	line-height: 24px;

	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);

	display: flex;
	align-items: center;

	img{
		margin-right: 6px;
	}

	&:focus{
		outline: 0;
	}

	&-enter{
		background: #1890FF;
		border: 1px solid #1890FF;
		color: @white-color;
	}

	&-buscet{
		margin-left: 10px;
		background: @white-color;
		border: 1px solid @gray-color;
		color: #595959;
	}

}

// background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);

.promo{
	margin-bottom: 56px;

	font-family: 'Roboto', sans-serif;
	color: #302C34;
	overflow: hidden;

	margin-top: 40px;
	padding: 68px 70px;
	position: relative;

	background: #EFDBFF;
	border-radius: 10px;
	box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
	background: #fff1b8;

	&-title{
		font-weight: 700;
		font-size: 39px;
		line-height: 46px;

		position: relative;
		z-index: 1;
	}

	&-text{
		font-size: 24px;
		line-height: 28px;

		max-width: 520px;

		position: relative;
		z-index: 1;
	}
}

.promo-img{
	z-index: 0;
	position: absolute;
	right: -220px;
	top: -35px;
	width: 860px;
}

.restaurants{

	&-heading{
		display: flex;
		align-items: center;
		margin-bottom: 44px;

		&_title{
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			line-height: 42px;

			color: #000000;

			margin-right: 30px;
		}
	}
}

.card{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&-item{
		background: #FFFFFF;
		box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
		border-radius: 7px;
		margin-bottom: 30px;

		overflow: hidden;

		width: 32%;

		.card-image{
			object-fit: cover;
			width: 100%;
		}

		&-content{
			padding: 20px 24px 35px;

			&-heading{
				display: flex;
				justify-content: space-between;
				align-items: center;

				h3{
					font-size: 24px;
					line-height: 32px;
					color: #000;
					font-weight: 700;
				}
				.regular{
					font-weight: 400;
				}
				span{
					background: #262626;
					border-radius: 2px;
					color: @white-color;

					padding: 3px 8px;

					font-size: 12px;
					line-height: 20px;

					white-space: nowrap;
				}
			}

			&-info{
				margin-top: 10px;

				display: flex;
				align-items: center;

				flex-wrap: wrap;

				.raiting{
					font-size: 18px;
					line-height: 32px;
					color: #FFC107;

					margin-right: 26px;
				}

				.category{
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					max-width: 100%;
				}

				.prise, .category {
					font-size: 18px;
					line-height: 32px;
					color: #8C8C8C;
				}

				.prise::after{
					content: '';
					display: inline-block;
					width: 5px;
					height: 5px;

					background-color: #8C8C8C;
					border-radius: 50%;

					margin: 0 10px;
					vertical-align: middle;
				}


				.ingredients{
					font-size: 18px;
					line-height: 21px;
					color: #8C8C8C;

					margin-bottom: 25px;
				}
			}

			&-buttons{
				display: flex;
				align-items: center;
				.button-cart-image{
					margin-right: 0;
					margin-left: 6px;
				}

				strong{
					font-size: 20px;
					line-height: 32px;
					font-weight: 700;

					margin-left: 30px;
				}
				.button{
				}
			}
		}
	}
}

.footer{

	&-content{
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 60px 0;

		&-nav{
			margin-right: auto;
			margin-left: 35px;

			a {
				font-size: 18px;
				line-height: 21px;
				color: #595959;

				&:not(:last-child){
					margin-right: 15px;
				}
			}
		}

		&-social{
			display: flex;
			align-items: center;

			a:not(:last-child){
				margin-right: 15px;
			}
		}

	}
}


// @media 

@media (max-width: 1360px) {
	.container{
		max-width: 960px;
	}

	.promo-img{
		right: -410px;
	}
}

@media (max-width: 992px){
	.container{
		max-width: 750px;
	}

	.promo{
		padding: 30px;
		&-title{
			font-size: 26px;
			line-height: 1.4;
		}
		&-text{
			font-size: 22px;
			max-width: 430px;
		}
		&-img{
			width: 840px;
			right: -470px;
		}
	}

	.card-item{
		flex-basis: 49%;
	}
}

@media (max-width: 768px){
	.container{
		max-width: 560px;
	}

	.promo{
		&-text{
			max-width: 370px;
		}
		&-img{
			width: 750px;
			right: -480px;
		}
	}

	.card-item-content .raiting{
		flex-basis: 100%;
	}
	.footer-content{
		padding: 30px 0;

		&-nav {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			a{
				flex-basis: 50%;

				&:not(:last-child){
					margin-right: 0;
				}
			}
		}
	}

	.button-enter, .button-buscet{
		padding-left: 20px;
		span{
			display: none;
		}
	}
}

@media (max-width: 578px) {
	body{
		padding-top: 10px;
	}
	.container{
		max-width: 90%;
	}

	.header{
		flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.input-adress{
		order: 5;
		flex: 1;
		margin: 15px 0 0;
		min-width: 290px;
	}

	.promo{
		margin-bottom: 20px;
		&-text{
			max-width: 100%;
		}

		&-img{
			display: none;
		}
	}

	.restaurants-heading{
		flex-wrap: wrap;

		&_title{
			margin-bottom: 10px;
		}
		.input-search{
			width: 100%;
		}
	}

	.card-item{
		flex-basis: 100%;
	}
	.footer-content{
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;

		&-nav{
			margin: 20px 0;
			flex-direction: column;
			text-align: center;
			vertical-align: middle;

			a{
				font-size: 24px;
				line-height: 1.4;
			}
		}
	}
}

